/*layout smartphone*/
@media only screen and (max-width:670px){
  header {
    position: fixed;
  }
  .description h1 {
    text-align: left;
    font-size: 25px;
    padding-left: 10%;
    width: 70%;
  }
  .description h3 {
    text-align: left;
    font-size: 25px;
    padding-left: 10%;
  }
  .description p {
    width: 60%;
    text-align: justify;
  }
  .header-right {
    display: none;
  }
  .menu-icon {
    display: block;
    float: right;
    font-size: 25px;
    padding-right: 35px;
  }

  .menu-icon.fa {
    display: block;
    float: right;
    font-size: 25px;
    padding-right: 35px;
  }
  .title-week{
    padding-top:30px;
    font-size:12px;
    padding-bottom: 5px;
  }
  .resep{
    display: block;
  }
  .gambar img{
    padding-bottom: 12px;
  }
  .resep li{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  .deskripsi h2 {
    text-align: center;
    font-size: 20px;
  }
  .deskripsi p{
    text-align: justify;
  }
  .btn {
    margin-top: 10px;
    margin-bottom: 15px;
    float: right;
  }
  .contact-form {
    padding-top: 20px;
  }
  .contact-form h3{
    font-size:23px;
    padding-top: 20px;
  }
  .contact-form p{
    font-size:16px;
    padding: 10px 18px 0px 18px;
  }
  input, textarea {
    width: 200px;
    margin-top: 8px;
    padding: 12px;
    font-size: 13px;
  }
  .contact-submit{
    width: 80px;
  }
  footer{
    width:100%;
  }
  footer img {
    width: 100px;
  }
  footer li {
    font-size: 12px;
  }
  .fa {
    font-size: 12px;
  }
}
/*layout tablet*/
@media only screen and (max-width:1000px){
  header {
    position: fixed;
  }
  .header-left {
    margin-left: 25px;
  }
  .header-right {
    margin-right: 25px;
  }
  .header-right a {
    padding: 0 18px;
  }
  .top-wrapper h1 {
    font-size: 38px;
  }
  .top-wrapper h3 {
    font-size: 30px;
  }
  .description p {
    width: 80%;
  }
  .gambar img{
    float: right;
    width: 277px;
  }
  .deskripsi p{
    width: 277px;
  }
  .contact-form{
    padding-left: 0px;
}  
  footer{
    width:auto;
  }
} 
