* {
  margin: 0;
  padding: 0;
}
  body {
    margin: 0;
    font-family: "Lucida Grande";
  }
    
    a {
      text-decoration: none;
    }
    
    .clear {
      clear: left;
    }
  
    .fa {
      margin-right: 5px;
      margin-bottom: 20px;
    }
  
    .container {
      max-width: 1170px;
      width: 100%;
      padding: 0 10px;
      margin: 0 auto;
    }
  
    .description {
      width: 100%;
      margin: 0 auto;
      padding: 10px 0px;
      color: whitesmoke;
    }
  
    .description p {
      max-width: 770px;
      width: 100%;
      padding: 8px 0px;
      margin: 0 auto;
    }
    
    .top-wrapper {
      padding: 160px 0 130px 0;
      background-image: url(./top_wrapper2.png);
      background-size: cover;
      text-align: center;
    }
    .top-wrapper h3 {
      font-size: 35px;
      letter-spacing: 2px;
      margin-bottom: 10px;
    }
    .top-wrapper h1 {
      font-size: 45px;
      letter-spacing: 5px;
      margin-bottom: 10px;
    }
    
    .top-wrapper p {
      font-size: 18px;
      margin-bottom: 2px;
    }
    
    header {
      height: 46px;
      width: 100%;
      background-color: rgba(243, 243, 243, 0.966);
      position: fixed;
      top: 0;
      z-index: 10;
    }
    
    .header-left {
      float: left;
    }
    
    .header-right {
      float: right;
      margin-right: -unset;
    }
    
    .header-right a {
      line-height: 46px;
      padding: 0 25px;
      color: black;
      display: block;
      float: left;
      transition: all 0.5s;
    }
    
    .header-right a:hover {
      background-color: rgba(78, 87, 41, 0.3);
    }
  
    .menu-icon {
      color: black;
      float: right;
      font-size: 25px;
      padding: 21px 0;
      display: none;
    }
    
  
/*Resep*/
    .title-week{
        padding-top:30px;
        text-align:center;
        font-size:15px;
        color:#4c5547;
        padding-bottom:10px;
    }
    .resep{
      display: flex;
      margin: 30px;
    }
    .resep li{
      flex: auto;
      padding:5px 10px;
      width:50%;
      color:#4c5547;
      list-style: none;
    }
    .gambar img{
      float: right
    }
    .deskripsi p{
      width: 377px;
      text-align: justify;
    }
    .source{
        color:brown;
        clear: both;
    }
    .source:hover{
        cursor: pointer;
    }
    .btn {
        margin-top: 30px;
        padding: 8px 20px;
        color: #4c5547;
        display: inline-block;
        opacity: 0.8;
        border-radius: 3px;
        background-color:rgba(199,199,187,0.7) ;
        float: right;
    }
    .btn:hover{
        opacity: 1;
    }
    
    .clear{
        clear:both;
    }  
  
/*gallery*/
.photo{
    flex:20%;
    padding:3px;
}
.gallery{
    content:"";
    clear:both;
    display:flex;
    padding:30px 30px 0 30px;
}

/*reservasi*/
.contact-form{
  padding-top: 30px;
  text-align: center;
}
.contact-form h3{
  font-size:28px;
  padding-top: 30px;
  color:#4c5547;
}
.contact-form p{
  font-size:18px;
  color:#4c5547;
  padding-top:15px;
}
input, textarea {
  width: 300px;
  margin-top: 10px;
  padding: 15px;
  font-size: 16px;
  border: 2px solid #dee7ec;
}
.contact-submit{
  width: 100px;
  color:#4c5547;
  background-color:rgba(199,199,187,0.7);
  padding:10px 15px;
  margin-top:20px;
  margin-bottom:80px;
  text-align:center;
}
.contact-submit:hover{
  background-color:rgba(199,199,187,1);
  cursor: pointer;
}
  
  /*footer*/
    footer img {
      width: 150px;
      padding-top: 10px;
      padding-bottom: 10px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    footer {
      height: auto;
      width: 100%;
      bottom: 0;
      background-color: rgba(87, 84, 41, 0.719);
      z-index: 10;
      text-align: center;
    }
    footer ul{
        color: whitesmoke;
        padding-bottom: 15px;
    }
    footer li{
        display:block;
        font-size:15px;
    }
    .fa{
        margin:5px 0px;
        font-size:15px;
        color: whitesmoke;
    }   
    
    /*Animasi*/
.description h1{
  color:#ffffff;
  position:relative;
  animation-name:animasi;
  animation-duration:2s;
  animation-iteration-count:infinite;
}

@keyframes animasi{
  0% {left:0px;top:0px;}
  50% {color:#fff3ee;left:0px;top:20px}
  100% {left:0px;top:0px;}
}
